.footer {
    background-color: var(--blue);
    
    width:100vw;
    height:20vw;
    gap:1.5vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    scroll-snap-align:start;
    @media only screen and (max-width: 769px) {
       padding-top:5vw;
    }
    @media only screen and (max-width: 600px) {
      height:50vw;
          gap:3vw;
            }

    .contacts {
        display:flex;
        gap:1vw;
        svg {
           font-size: 3vw;
           @media only screen and (max-width: 769px) {
            font-size:5vw;
        }
           @media only screen and (max-width: 600px) {
            font-size: 10vw;
              
                }
        }
    }
    .routing {
        display:flex;

        font-size:1.5vw;
        gap:6vw;
       @media (max-width:768px) {
        font-size: 3vw;
       }

        @media only screen and (max-width: 600px) {
            font-size: 3.5vw;
              
                }
    }
    .last-line {
        font-size:1.5vw;
        @media only screen and (max-width: 769px) {
            font-size:2vw;
        }
        @media only screen and (max-width: 600px) {
            font-size: 4vw;
              
                }
    }
}